<app-header></app-header>



<section id="slider" class="slider-element swiper_wrapper full-screen clearfix" data-autoplay="9000" data-speed="800" data-loop="true" data-grab="false">

    <div class="swiper-container swiper-parent">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background: #FFF url('assets/images/slider/1.jpg') no-repeat center right; background-size: auto 100%;">
                <div class="container clearfix">
                    <div class="slider-caption" style="margin-top: -30px;">
                        <div class="nobottommargin pt-4">
                            <h2 class="bottom-margin t700" style="max-width: 600px; font-size: 80px; font-family: 'Montserrat'; line-height: 1.2;">We Create<br>diff. Websites</h2>

                            <p class="lead topmargin-sm d-none d-sm-block" style="max-width: 600px; font-family: 'Poppins'; color: #999; font-size: 18px;">Competently reintermediate user friendly scenarios after global synergy. Globally build compelling niche markets rather than bricks-and-clicks alignments. Continually revolutionize interactive strategic theme.</p>
                        </div>
                    </div>
                </div>
                <div class="slide-number font-primary">O1</div>
            </div>

        </div>
        
    </div>

</section>



<section id="about">
        <div class="section nobg">
                <div class="container clearfix">
                    <div class="row clearfix">
                        <div class="col-lg-5">
                            <div id="oc-images">

                                <div class="oc-item">
                                    <a href="#"><img src="assets/images/slider/4.jpg" alt="Image 1"></a>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-5 offset-lg-1">
                            <div class="featured-item topmargin">
                                <div class="item-title">
                                    <h3><a href="#">What We Do.</a></h3>
                                </div>
                                <div class="item-meta font-secondary">
                                    SKU: 8465415.
                                    Design: Leather / Blue
                                </div>
                                <div class="clear"></div>
                                <div class="item-desc">
                                    <p>Proactively empower highly efficient growth strategies Completely enhance inexpensive best practices before front-end content. Completely procrastinate innovative vortals through maintainable leadership skills. Continually foster business sources for viral leadership skills.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


</section>


<section id="product">

    <div class="section clearfix"  style="padding: 80px 0;">
        <div class="container clearfix">

            <div class="heading-block nobottomborder center">
                <h3 class="t400" style="font-size: 16px;">Best Selling Products</h3>
            </div>

            <div class="row clearfix">
                <div class="col-lg-3 col-md-6">
                    <div class="iportfolio clearfix">
                        <div class="portfolio-image clearfix">
                            <div class="fslider" data-pagi="false" data-animation="fade" data-slideshow="false">
                                
                                        <div class="slide"><a href="#"><img src="assets/images/items/1-1.jpg" alt="Grey Bag"></a></div>
                                        
                            </div>
                            <div class="product-cart"><a href="#"><i class="icon-shopping-cart"></i></a></div>
                            <div class="product-quickview"><a href="#" data-toggle="tooltip" data-placement="top" title="Available Sizes: S | M | L"><i class="icon-info"></i></a></div>
                        </div>
                        <div class="portfolio-desc nobottompadding">
                            <h3><a href="#">Leather Bag</a></h3>
                            <span class="notopmargin"><a href="#">Grey Messenger Bag</a></span>
                            <div class="item-price">
                                <span>&euro;29.99</span>
                                <div class="rating-stars">
                                    <i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="iportfolio clearfix">
                        <div class="portfolio-image clearfix">
                            <div class="fslider" data-pagi="false" data-animation="fade" data-slideshow="false">
                                
                                        <div class="slide"><a href="#"><img src="assets/images/items/4-1.jpg" alt="Grey Bag"></a></div>
                                        
                            </div>
                            <div class="product-cart"><a href="#"><i class="icon-shopping-cart"></i></a></div>
                            <div class="product-quickview"><a href="#" data-toggle="tooltip" data-placement="top" title="Available Sizes: S | M | L"><i class="icon-info"></i></a></div>
                        </div>
                        <div class="portfolio-desc nobottompadding">
                            <h3><a href="#">Black Bagpack</a></h3>
                            <span class="notopmargin"><a href="#">college Backpack</a></span>
                            <div class="item-price">
                                <span>&euro;23.49</span>
                                <div class="rating-stars">
                                    <i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-100 bottommargin d-block d-md-none"></div>

                <div class="col-lg-3 col-md-6">
                    <div class="iportfolio clearfix">
                        <div class="portfolio-image clearfix">
                            <div class="fslider" data-pagi="false" data-animation="fade" data-slideshow="false">
                               
                                        <div class="slide"><a href="#"><img src="assets/images/items/2-1.jpg" alt="Office Bag"></a></div>
                                        
                            </div>
                            <div class="product-cart"><a href="#"><i class="icon-shopping-cart"></i></a></div>
                            <div class="product-quickview"><a href="#" data-toggle="tooltip" data-placement="top" title="Available Sizes: L"><i class="icon-info"></i></a></div>
                        </div>
                        <div class="portfolio-desc nobottompadding">
                            <h3><a href="#">Women Office Bag</a></h3>
                            <span class="notopmargin"><a href="#">Hand Bag</a></span>
                            <div class="item-price">
                                <span>&euro;11.99</span>
                                <div class="rating-stars">
                                    <i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-100 bottommargin d-block d-md-none"></div>

                <div class="col-lg-3 col-md-6">
                    <div class="iportfolio clearfix">
                        <div class="portfolio-image clearfix">
                            <div class="fslider" data-pagi="false" data-animation="fade" data-slideshow="false">
                                
                                        <div class="slide"><a href="#"><img src="assets/images/items/3-1.jpg" alt="Men Bag"></a></div>
                                        
                            </div>
                            <div class="sale-flash">Sale!</div>
                            <div class="product-cart"><a href="#"><i class="icon-shopping-cart"></i></a></div>
                            <div class="product-quickview"><a href="#" data-toggle="tooltip" data-placement="top" title="Available Sizes: S | M | L"><i class="icon-info"></i></a></div>
                        </div>
                        <div class="portfolio-desc nobottompadding">
                            <h3><a href="#">Men Black Bag</a></h3>
                            <span class="notopmargin"><a href="#">Laptop Bag</a></span>
                            <div class="item-price">
                                <span><del class="d-md-none d-lg-block">$45.99</del> &euro;39.00</span>
                                <div class="rating-stars">
                                    <i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star-half"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>



<section id="gallery">

    
    <div class="container clearfix">

        <div class="heading-block nobottomborder center">
            <h3>Popular Galleries</h3>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit voluptas.</span>
        </div>

        <div class="row ecommerce-categories clearfix" style="padding: 20px 0 0;">
            <div class="col-lg-7">
                <a href="#" style="background: url('assets/images/types/1.jpg') no-repeat center center; background-size: cover;">
                    <div class="vertical-middle dark center">
                        <div class="heading-block nomargin noborder">
                            <h3 class="capitalize font-secondary nott t500">Travel</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-5">
                <a href="#" style="background: url('assets/images/types/3.jpg') no-repeat center center; background-size: cover;">
                    <div class="vertical-middle dark center">
                        <div class="heading-block nomargin noborder">
                            <h3 class="capitalize font-secondary nott t500">College</h3>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4">
                <a href="#" style="background: url('assets/images/types/5.jpg') no-repeat center center; background-size: cover;">
                    <div class="vertical-middle dark center">
                        <div class="heading-block nomargin noborder">
                            <h3 class="capitalize font-secondary nott t500">Leather</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="#" style="background: url('assets/images/types/6.jpg') no-repeat center center; background-size: cover;">
                    <div class="vertical-middle dark center">
                        <div class="heading-block nomargin noborder">
                            <h3 class="capitalize font-secondary nott t500">Reise</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="#" style="background: url('assets/images/types/8.jpg') no-repeat center center; background-size: cover;">
                    <div class="vertical-middle dark center">
                        <div class="heading-block nomargin noborder">
                            <h3 class="capitalize font-secondary nott t500">Handmade</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-5">
                <a href="#" style="background: url('assets/images/types/7.jpg') no-repeat center center; background-size: cover;">
                    <div class="vertical-middle dark center">
                        <div class="heading-block nomargin noborder">
                            <h3 class="capitalize font-secondary nott t500">Brown</h3>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-7">
                <a href="#" style="background: url('assets/images/types/9.jpg') no-repeat center center; background-size: cover;">
                    <div class="vertical-middle dark center">
                        <div class="heading-block nomargin noborder">
                            <h3 class="capitalize font-secondary nott t500">Acessories</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</section>


<section id="services">
    
        <div class="clear"></div>

    <div class="container topmargin clearfix">
        <div class="heading-block nobottomborder bottommargin center">
            <h3 class="" style="font-size: 20px;">Shop By Categories</h3>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing<br>elit voluptas.</span>
        </div>

        <div class="row clearfix clear-bottommargin">
            <div class="col-lg-2 col-md-4 col-6 offset-lg-1">
                <div class="feature-box fbox-center nobottomborder bottommargin">
                    <div class="before-heading ls2">0mm - 31mm</div>
                    <h3 class="t400 ls1">Laptop</h3>
                    <div class="fbox-image imagescalein">
                        <a href="#"><img src="assets/images/icons/2.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="feature-box fbox-center nobottomborder bottommargin">
                    <div class="before-heading ls2">0mm - 31mm</div>
                    <h3 class="t400 ls1">Hand Bag</h3>
                    <div class="fbox-image imagescalein">
                        <a href="#"><img src="assets/images/icons/3.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="feature-box fbox-center nobottomborder bottommargin">
                    <div class="before-heading ls2">0mm - 31mm</div>
                    <h3 class="t400 ls1">Backpack</h3>
                    <div class="fbox-image imagescalein">
                        <a href="#"><img src="assets/images/icons/4.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="feature-box fbox-center nobottomborder bottommargin">
                    <div class="before-heading ls2">0mm - 31mm</div>
                    <h3 class="t400 ls1">Duffle</h3>
                    <div class="fbox-image imagescalein">
                        <a href="#"><img src="assets/images/icons/5.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="feature-box fbox-center nobottomborder bottommargin">
                    <div class="before-heading ls2">0mm - 31mm</div>
                    <h3 class="t400 ls1">Trolley</h3>
                    <div class="fbox-image imagescalein">
                        <a href="#"><img src="assets/images/icons/6.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="line"></div>



<app-footer></app-footer>